/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spinner-container {
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;

    .spinner-container-inner-section {
        background-color: #fff;
        border-radius: 5px;
    }
}

.files-container {
    .mat-card {
        padding: 0;
    }
    .mat-card-content {
        max-height: 600px;
        overflow-y: auto;
    }
    .btn-file {
        cursor: pointer;
        &.active {
            background-color: #3f51b5;
            color: #fff;
        }
    }
}